In [2]:
import numpy as np
import pandas as pd
from scipy.cluster.vq import kmeans,vq
from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv(r'D:\DS4A\Transportation\uber_trips_2014.csv')
df = df.head(500)
del df['base']

In [45]:
df.head(20)

    pickup_datetime  pickup_latitude  pickup_longitude  hour  interval
495    4/1/14 14:57          40.7247          -74.0022    14         3
496    4/1/14 14:57          40.7145          -74.0025    14         3
497    4/1/14 15:00          40.7593          -73.9745    15         3
498    4/1/14 15:02          40.7284          -74.0071    15         3
499    4/1/14 15:03          40.7079          -74.0093    15         3

In [44]:
df['hour'] = pd.to_datetime(df['pickup_datetime']).dt.hour
df['interval'] = df['hour']//4

K Means

In [50]:
import seaborn as sns
import pandas as pd
import pysal as ps
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import cluster
import pysal.contrib.clusterpy as cp

ModuleNotFoundError: No module named 'pysal'